#un fichier ou dossier que Git va IGNORER 
.env
data/raw/
data/processed/
data/labeled/
models_saved/
mlruns/
__pycache__/
*.pyc
.ipynb_checkpoints/
node_modules/
.DS_Store
venv/
.venv/
manual_500_hiba.json
manual_500_friend.json
test.json
data/cleaning_report.json
count_bad_words.py
normalize_years.py